<div id="tableheader">
<h1>Assign Customer To Salesmen</h1>
</div>

<div id="tableinfo">
<p>Salesman: <%= @salesman.name %></p>
<p>Date: <%= Time.now.strftime("%d/%m/%Y %H:%M %p") %></p>
<p>Employee ID: <%= @salesman.employeeid %></p>
</div>

<%= form_tag({:controller => "assignroutes", :action => "create"}, :method => "post") do %>
<table>
  <tr>
    <th>No</th>
    <th>Customer</th>
    <th>Visiting</th>
    <th>Delivery</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.name %></td>
    <td><%= check_box_tag("visiting[]", customer.id) %></td>
    <td><%= check_box_tag("delivery[]", customer.id) %></td>
  </tr>
<% end %>
</table>
<p>
  <div class="actions">
    <%= hidden_field_tag("salesman_id", @salesman.id) %>
    <%= submit_tag "Create Route" %>
  </div>
</p>
<% end %>