<h1>Assign Customer To Salesmen</h1>

<table>
  <tr>
    <th>No</th>
    <th>Customer</th>
    <th>Visiting</th>
    <th>Delivery</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.name %></td>
    <td><%= check_box_tag(:visiting) %></td>
    <td><%= check_box_tag(:delivery) %></td>
  </tr>
<% end %>
</table>

<br />
<table>
  <tr>
    <td>Salesman</td>
    <td>:</td>
    <td><%= @salesman.name %></td>
  </tr>
  <tr>
    <td>Date</td>
    <td>:</td>
    <td><%= Time.now.strftime("%d/%m/%Y %H:%M %p") %></td>
  </tr>
  <tr>
    <td>ID</td>
    <td>:</td>
    <td><%= @salesman.employeeid %></td>
  </tr>
</table>