<h1>Assign Customer To Salesmen</h1>
<%= form_tag({:controller => "assignroutes", :action => "create"}, :method => "post") do %>
<table>
  <tr>
    <th>No</th>
    <th>Customer</th>
    <th>Visiting</th>
    <th>Delivery</th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.name %></td>
    <td><%= check_box_tag("visiting[]", customer.id) %></td>
    <td><%= check_box_tag("delivery[]", customer.id) %></td>
  </tr>
<% end %>
</table>
<p>
  <div class="actions">
    <%= hidden_field_tag("salesman_id", @salesman.id) %>
    <%= submit_tag "Create Route" %>
  </div>
</p>
<br />
<table>
  <tr>
    <td>Salesman</td>
    <td>:</td>
    <td><%= @salesman.name %></td>
  </tr>
  <tr>
    <td>Date</td>
    <td>:</td>
    <td><%= Time.now.strftime("%d/%m/%Y %H:%M %p") %></td>
  </tr>
  <tr>
    <td>ID</td>
    <td>:</td>
    <td><%= @salesman.employeeid %></td>
  </tr>
</table>
<% end %>