<div id="tableheader">
<h1>Manage Sales Force</h1>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Employeeid</th>
    <th>Phone</th>
    <th>Manage</th>
  </tr>

<% @salesmen.each do |salesman| %>
  <tr>
    <td><%= salesman.name %></td>
    <td><%= salesman.employeeid %></td>
    <td><%= salesman.phone %></td>
    <td>
    <%= link_to 'Show', salesman, :class=>'buttons' %>
    <%= link_to 'Edit', edit_salesman_path(salesman), :class=>'buttons' %>
    <%= link_to 'Destroy', salesman, confirm: 'Are you sure?', method: :delete, :class=>'buttons' %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Salesman', new_salesman_path, :class=>'buttons' %>
