<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @salesman.name %>
</p>

<p>
  <b>Employeeid:</b>
  <%= @salesman.employeeid %>
</p>

<p>
  <b>Photo:</b>
  <%= @salesman.photo %>
</p>

<p>
  <b>Phone:</b>
  <%= @salesman.phone %>
</p>


<%= link_to 'Edit', edit_salesman_path(@salesman), :class=>'buttons' %>
<%= link_to 'Back', salesmen_path, :class=>'buttons' %>
