<div id="tableheader">
<h1>Route List</h1>
</div>

<table>
  <tr>
    <th>No</th>
    <th>Tanggal</th>
    <th>Customer</th>
    <th>Visiting</th>
    <th>Delivery</th>
	<th>Admin</th>
  </tr>

<% @visiting_route.each do |visiting_route| %>
  <tr>
    <td><%= visiting_route.id %></td>
    <td><%= Time.now.strftime("%d/%m/%Y") %></td>
	<td><%= visiting_route.customer_id %></td>
	<td></td>
	<td></td>
	<td><%= link_to 'Order', {:controller=>"purchaseorders", :action=>"new", :customer_id=>visiting_route.customer_id, :salesmen_id=>@paramsalesmanid} %></td>
  </tr>
<% end %>
</table>
<br />
	<table>
	<tr>
		<td>Salesman :</td>
		<td><%= Salesman.find(@paramsalesmanid).name %></td>
	</tr>
	<tr>
		<td>ID Card :</td>
		<td><%= Salesman.find(@paramsalesmanid).employeeid %></td>
	</tr>
	</table>		
<br />
