<div id="tableheader">
<h1>Route List</h1>
</div>

<div id="tableinfo">
<p>Salesman: <%= Salesman.find(@paramsalesmanid).name %></p>
<p>Employee ID: <%= Salesman.find(@paramsalesmanid).employeeid %></p>
</div>

<table>
  <tr>
    <th>No</th>
    <th>Tanggal</th>
    <th>Customer</th>
    <th>Visiting</th>
    <th>Delivery</th>
	<th>Admin</th>
  </tr>

<% @visiting_route.each do |visiting_route| %>
  <tr>
    <td><%= visiting_route.id %></td>
    <td><%= Time.now.strftime("%d/%m/%Y") %></td>
	<td><%= Customer.find(visiting_route.customer_id).name %></td>
	<td></td>
	<td></td>
	<td><%= link_to 'Order', {:controller=>"purchaseorders", :action=>"new", :customer_id=>visiting_route.customer_id, :salesmen_id=>@paramsalesmanid} %></td>
  </tr>
<% end %>
</table>
