<h1>Route List</h1>

<table>
  <tr>
    <th>No</th>
    <th>Tanggal</th>
    <th>Customer</th>
    <th>Visiting</th>
    <th>Delivery</th>
	<th>Admin</th>
  </tr>

<% @visiting_route.each do |visiting_route| %>
  <tr>
    <td><%= visiting_route.id %></td>
    <td><%= visiting_route.id %></td>
	<td><%= visiting_route.customer_id %></td>
	<td></td>
	<td></td>
	<td><%= link_to 'Order'%></td>
  </tr>
<% end %>
</table>
<br />
	<table>
	<tr>
		<th>Salesman :</th>
		<th><%= @param1 %></th>
	</tr>
	<tr>
		<th>ID Card :</th>
		<th><%= @param1 %></th>
	</tr>
	</table>		
<br />
