<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>

<p>
  <b>Unit:</b>
  <%= @item.unit %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Photo:</b><br />
  <%= image_tag @item.photo.url(:medium) %>
</p>

<p>
  <b>Code:</b>
  <%= @item.code %>
</p>


<%= link_to 'Edit', edit_item_path(@item), :class=>'buttons' %>
<%= link_to 'Back', items_path, :class=>'buttons' %>
