<%= form_for(@purchaseorder) do |f| %>
  <% if @purchaseorder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchaseorder.errors.count, "error") %> prohibited this purchaseorder from being saved:</h2>

      <ul>
      <% @purchaseorder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :purchasedate %><br />
    <%= f.date_select :purchasedate %>
  </div>
  <div class="field">
    <%= f.label :purchasenumber %><br />
    <%= f.text_field :purchasenumber %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :Customer.find(:customer_id).name %>
  </div>
  <div class="field">
    <%= f.hidden_field :salesmen_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
