<p id="notice"><%= notice %></p>

<p>
  <b>Purchasedate:</b>
  <%= @purchaseorder.purchasedate %>
</p>

<p>
  <b>Purchasenumber:</b>
  <%= @purchaseorder.purchasenumber %>
</p>

<p>
  <b>Customer:</b>
  <%= Customer.find(@purchaseorder.customer_id).name %>
</p>

<p>
  <b>Salesmen:</b>
  <%= Salesman.find(@purchaseorder.salesmen_id).name %>
</p>

<%= link_to 'Edit', edit_purchaseorder_path(@purchaseorder) %> |
<%= link_to 'Back', purchaseorders_path %>
