<!DOCTYPE html>
<html>
<head>
  <title>Kookoopoo: Mobile Sales System</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="container">
	  <div class="span-10"> 
		  <a href=""><%= image_tag "logo.png", :id=>"headerlogo" %></a>
	  </div>    
	  <div class="span-13  last" id="headertopnav"> 
		  <ul>	
      <li><%= link_to 'Home', :controller=>"/home" %></li> 
		  </ul>
	  </div>  
    <div class="span-24 last" id="longroundedtop" style="text-align:left;">
	  <ul>	
	  <li><%= link_to 'Manage Salesman', :controller=>"/salesmen" %></li>
	  <li><%= link_to 'Manage Customer', :controller=>"/customers" %></li>
    <li><%= link_to 'Manage Items', :controller=>"/items" %></li>
    <li><%= link_to 'Routes', :controller=>"/manageroutes" %></li>
    <li><%= link_to 'PO', :controller=>"/purchaseorders" %></li>    
	  </ul>
    </div> 
  </div>
  
  <div class="container yield">

    <div class="span-24 last">    
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>
    </div>

    <% if params[:controller]=="home" then -%>
    <div id="tripleopening" class="span-24 last">
      <div class="span-1">&nbsp;</div>
      <div class="span-7">
      <%= link_to image_tag("backgroundtriple01.png"), :controller=>"/home" %>
      </div>
      <div class="span-7">
      <%= link_to image_tag("backgroundtriple02.png"), :controller=>"/home" %>
      </div>
      <div class="span-7 last">
      <%= link_to image_tag("backgroundtriple02.png"), :controller=>"/home" %>
      </div>
    </div>
  
    <div class="span-2">&nbsp;</div>
    <div class="span-20">
      <div id="midquote">
      <em>This is prototype application</em>
      </div>
    </div>    
    <div class="span-2 last">&nbsp;</div>  
    <%- end -%>
  </div>

  <div class="container yield">
    <br />
    <div class="span-1">&nbsp;</div>
    <div class="span-22">
      <%= yield %>
    </div>    
    <div class="span-1 last">&nbsp;</div>   
  </div>  

  <div class="container">
	  <div class="span-24 last" id="longroundedbottom">
		  &nbsp;
	  </div> 
	  <div class="span-24 last" id="longroundedend">
		  © 2011-2012 PT Jerbee Indonesia, info@jerbeeindonesia.com
	  </div>
  </div>

</body>
</html>
