<!DOCTYPE html>
<html>
<head>
  <title>Kookoopoo: Mobile Sales System</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "OpenLayers" %>  
  <%= csrf_meta_tags %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAYV1B_g5Mt-hNsW0vaYdv2RTq4TV2denRdnxNMBI4tKBAvRgtmxSY5RKxQ3g8oGJProOdI9VaylFz_A" type="text/javascript"></script>   
</head>
<body>


  <div class="container">
	  <div class="span-10"> 
		  <a href=""><%= image_tag "logo.png", :id=>"headerlogo" %></a>
	  </div>    
	  <div class="span-13  last" id="headertopnav"> 
		  <ul>	
      <li><%= link_to 'Home', :controller=>"/home" %></li>
      <li><%= link_to 'Login', :controller=>"/home" %></li>       
		  </ul>
	  </div>  
    <div class="span-24 last" id="longroundedtop" style="text-align:left;">
	  <ul>	
	  <li><%= link_to 'Manage Salesman', :controller=>"/salesmen" %></li>
	  <li><%= link_to 'Manage Customer', :controller=>"/customers" %></li>
    <li><%= link_to 'Manage Items', :controller=>"/items" %></li>
    <li><%= link_to 'Routes', :controller=>"/manageroutes" %></li>
    <li><%= link_to 'PO', :controller=>"/purchaseorders" %></li>    
	  </ul>
    </div> 
  </div>
  
  <div class="container yield">

    <% if params[:controller]=="home" then -%>
    <div id="opening" class="span-24 last"> 
      <div class="span-24 last" id="map" style="padding:0px; width:950px; height:270px;">
      </div>  
    </div>
    <script type="text/javascript"> 
      var map = new OpenLayers.Map('map');
      var gmap = new OpenLayers.Layer.Google("Google Streets",{numZoomLevels: 20});
      map.addLayers([gmap]);
      map.setCenter(new OpenLayers.LonLat(106.84517, -6.21154), 11);         
      var markers = new OpenLayers.Layer.Markers("Markers");
      var size = new OpenLayers.Size(32,32);
      var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
      var icon = new OpenLayers.Icon('http://<%= request.env["HTTP_HOST"] %>/assets/markerz.png',size,offset);
      function markerize(lat,lon,html) {
        marker = new OpenLayers.Marker(new OpenLayers.LonLat(lat,lon),icon.clone());    
        marker.events.register('mousedown', marker, function(evt) { 
          popup = new OpenLayers.Popup("",
          new OpenLayers.LonLat(lat, lon),
          new OpenLayers.Size(200,100),html, true);
          popup.border = "solid 1px #6d9100";     
          map.addPopup(popup); 
        });  
        markers.addMarker(marker); 
      }
      <%
      @positions = Position.find(:all,:limit=>"5")
      @positions.each do |position| 
      %>
      <%= "markerize(#{position.longitude},#{position.latitude},'<b>#{position.salesman_id}</b><br/>#{position.salesman_id}');".html_safe 
      %>
      <% 
      end 
      %>
      map.addLayer(markers);     
    </script>         
    <%- end -%>

    <div class="span-24 last">    
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%>
    </div>

    <% if params[:controller]=="home" then -%>
    <div id="tripleopening" class="span-24 last">
      <div class="span-1">&nbsp;</div>
      <div class="span-7">
      <%= link_to image_tag("backgroundtriple01.png"), :controller=>"/home" %>
      </div>
      <div class="span-7">
      <%= link_to image_tag("backgroundtriple02.png"), :controller=>"/home" %>
      </div>
      <div class="span-7 last">
      <%= link_to image_tag("backgroundtriple02.png"), :controller=>"/home" %>
      </div>
    </div>
  
    <div class="span-2">&nbsp;</div>
    <div class="span-20">
      <div id="midquote">
      <em>This is prototype application</em>
      </div>
    </div>    
    <div class="span-2 last">&nbsp;</div>  
    <%- end -%>
  </div>

  <div class="container yield">
    <br />
    <div class="span-1">&nbsp;</div>
    <div class="span-22">
      <%= yield %>
    </div>    
    <div class="span-1 last">&nbsp;</div>   
  </div>  

  <div class="container">
	  <div class="span-24 last" id="longroundedbottom">
		  &nbsp;
	  </div> 
	  <div class="span-24 last" id="longroundedend">
		  © 2011-2012 PT Jerbee Indonesia, info@jerbeeindonesia.com
	  </div>
  </div>

</body>
</html>
